@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}
<!--CowboyCafe error page with image.-->
<img src="images/BuckingBronco.png" />
<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">Whoops partner, you just got bucked off by an error!</h2>

